body{
	touch-action: pan-y;
}
.heading-span{
	color: darkred;
	font-family: Oswald, sans-serif ;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	
}
.heading-span:hover{
	color: darkred;
}
.listitem{
	color: darkred;
	display: inline-block;/*single line*/
	list-style: none;/*bullet oyvakkaan*/
	margin: 10px 15px;
	text-decoration: darkred;
	
}
.listitem:hover{
	color: darkred;
}
.aboutUs-button{
	background: darkred;
	color: white;
	display: inline-block;/*single line*/
	list-style: none;/*bullet oyvakkaan*/
	text-decoration: none;
	border-radius: 1rem;
    width: 8rem;
    height: 85%;
	margin: 2px 13px;
	border: none;
	text-shadow: 5px 5px 10px black;
	
}
.link{
	color: darkred;
	text-decoration: none; /*under line oyvakkan*/
	font-weight: bold; 
} 

.link:hover{
	color: yellowgreen;

}

/*--------------------NAVBAR END----------------------------*/


/*--------------------Hero Section----------------------------*/
.homehead{
	font-weight: bold; 

}
.the-title{
	font-family: Anton, sans-serif;
	font-weight: bold
}
.the-title span{
	color: darkred;
}
.homecontent{
	font-family: Raleway, sans-serif;
	color: brown;
}
/*-----------------------------------------------*/



/* Center align the items and adjust the height and width*/
.carousel-images{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activel {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.offerimg1 {
	width: 350px;
	height: 300px;
	margin-top: -80px;
	margin-left: -100px;
	margin-bottom:-35px;
	}


.offerimg2 {
	width: 300px;
	height: 250px;
	margin-top: -40px;
	margin-left: -80px;
	margin-bottom:-35px;
}

.list1{
	margin-bottom: 0px;
	margin-left: -100px;
	margin-top: 100px;
	list-style: circle;
	color: rgba(40,50,32);
	font-weight: 500;
}
.list2{
	margin-bottom: 0px;
	margin-top: -10px;
	list-style: circle;
	color: rgba(40,50,32);
	font-weight: 500;
}

/*-----------------------menu-----------------------*/

#menu{
	margin-top: 50px;
}
.menuhead{
	text-align: center;
	color: rgba(200, 100, 70, 2);
	font-family: Bradley Hand, cursive;
	font-weight: bold;
	

}
.menuhr{
	width: 200px;
	margin: auto;
	color: brown;
	margin-bottom: 40px;
	font-weight: bold;
}

.menucaption{
	color: brown;
	text-align: center;
	font-family: monospace ;


}
.menu{
	width: 100%;
	height: 100%;
}


/*-------------------contact-----------------------------*/

.contacthr{
	width: 200px;
	color :brown;
	margin: auto;
}
.storyheading{
	text-align: center;
	font-family: initial;
	color: rgb(24,0,0);
}
.storytext{
	font-family: monospace;
	margin-left: 20px;
	margin-right: 20px;
	color: rgb(24,0,0);
}

/*----------------------------------------*/
.contact{
	margin-top: 20px;
	padding-top: 20px;
}
.contactheading{
	font-family: initial;
	margin-top: 20px;
	color: rgb(24,0,0);
}
.link1{
	color: rgb(24,0,0);
	text-decoration: none; /*under line oyvakkan*/
}

/*------------------ footer --------------*/

footer {
	text-align: center;
	padding: 5px;
	background-color: #abbaba;
	color: #000;
  }